@using CUTFLI.Enums
@model CUTFLI.ViewModels.AppointmentsWithDate

@foreach (var item in Model.Appointments)
{
    <button class="border my-2  border-1 rounded mx-3 time  text-white px-4" onclick="select(this)">
        @*<input type="hidden" value="@item.Id">
    @(new DateTime(item.StartTime.Ticks).ToString("hh:mm tt"))*@
    </button>
}