@model IEnumerable<CUTFLI.ViewModels.Barbers>

@{
    Layout = "~/Views/Shared/_UiLayout.cshtml";
}

<div class="bg-image position-relative">
    <img src="~/assets/img/Ui/Frame0.png" class="w-100 img-fluid" />
    <div class="overlay2"></div>
    <div class="mask2 text-light d-flex justify-content-center align-items-center">
        <h1 class="fw-bolder">Barbers</h1>
    </div>
</div>

<div class="d-flex justify-content-center">
    <img src="~/assets/img/Ui/2 2.png" alt="" class="imglogo">
</div>


<div class="" id="barbers">
    <div class="d-flex justify-content-center">
        <p class=" text text-center"> Barbers</p>

    </div>
@*    <div class="d-flex justify-content-center">
        <p class="align-content-center w-50 text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Ut elit tellus, luctus nec ullamcorper
            mattis, pulvinar dapibus leo.
        </p>
    </div>*@
    <div class="container-fluid py-5">
        <div class=" flex-wrap d-flex p-lg-5">
           @foreach (var item in Model)
           {
                <div class="col-6 col-md-4 p-3 barber">
                    <a asp-controller="CutFli" asp-action="Services" asp-route-barber="@item.Id">
                        <div class="bg-image w-100 h-100 position-relative">
                            <img src="@("data:image/*;base64,"+Convert.ToBase64String(item.Image))" class="w-100 h-100 img-fluid" />
                            <div class="overlayy"></div>
                            <div class="maskk text-light d-flex justify-content-center align-items-center">
                                <h2 class="px-2 mb-auto" id="text">@item.FullName</h2>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
