@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <div class="card">
            <div class="card-body">
                <div class="app-brand justify-content-center">
                    <a href="index.html" class="app-brand-link gap-1">
                        @* <span class="app-brand-logo demo">
                        <img src="~/assets/img/icons/brands/logo.png" width="40" />
                        </span>*@
                        <span class="app-brand-text text-body fw-bolder">CUTFLIX</span>
                    </a>
                </div>
                <h4 class="mb-4">Forget Password</h4>

                <form class="mb-3" method="POST" asp-action="ForgetPassword">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               placeholder="Enter your email"
                               autofocus />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
