@using CUTFLI.Enums
@model CUTFLI.ViewModels.AppointmentViewModel

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Appointment/</span> Edit Appointment</h4>

    <div class="row">

        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Edit Appointment</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" >
                        <input type="hidden" asp-for="Id" />
                        <div class="row mb-3">
                            <label asp-for="Date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input type="date"
                                           asp-for="Date"
                                           class="form-control" />
                                </div>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="StartTime">Start Time</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input type="time"
                                           asp-for="StartTime"
                                           class="form-control" />
                                </div>
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="EndTime">End Time</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input type="time"
                                           asp-for="EndTime"
                                           class="form-control" />
                                </div>
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                        </div>  
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="Status"></label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <select class="form-select" id="exampleFormControlSelect1" asp-for="Status" asp-items="@(Html.GetEnumSelectList<SystemEnums.AppointmentStatus>())">
                                        <option selected>Open this select menu</option>
                                    </select>
                                </div>
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="UserId">Employee</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                </div>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="VistiorId">Customer</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <select asp-for="VistiorId" class="form-control" asp-items="ViewBag.VistiorId">
                                        <option value="">Open this select menu</option>
                                    </select>
                                </div>
                                <span asp-validation-for="VistiorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="Price"></label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input asp-for="Price"
                                           class="form-control" />
                                </div>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="PaymentMethod">Payment Method</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <select class="form-select" id="exampleFormControlSelect1" asp-for="PaymentMethod" asp-items="@(Html.GetEnumSelectList<SystemEnums.PaymentMethod>())">
                                        <option selected value="">Open this select menu</option>
                                    </select>
                                </div>
                                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
