@model CUTFLI.ViewModels.PeopleViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3"><span class="text-muted fw-light">Customer /</span> Delete</h4>
    <div class="d-flex justify-content-end mb-3">
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>

    <div class="row py-5 d-flex justify-content-around align-items-center bg-white">
        <div class="col-6 col-md-3  d-flex justify-content-center">
            <div>
                <h6>Full Name :</h6>
                <p>@Model.FullName</p>
                <h6>Email :</h6>
                <p>@Model.Email</p>
                <h6>Phone Number :</h6>
                <p>@Model.PhoneNumber</p>
            </div>
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
            <div>
                <h6>Created :</h6>
                <p>@Model.CreatedDate?.ToString("dd-MM-yyyy")</p>
            </div>
        </div>
    </div>

</div>
