<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="allfile" fileName="${currentdir}/logs/${shortdate}/log-${shortdate}.log"
			layout="${longdate}|${aspnet-traceidentifier}|${aspnet-activityid}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />


		<target xsi:type="File" name="InfoFile" fileName="${currentdir}/logs/${shortdate}/log-Info-${shortdate}.log"
				layout="${longdate}|${aspnet-traceidentifier}|${aspnet-activityid}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

		<target xsi:type="File" name="ErrorFile" fileName="${currentdir}/logs/${shortdate}/log-Error-${shortdate}.log"
			   layout="${longdate}|${aspnet-traceidentifier}|${aspnet-activityid}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />


		<!--<target xsi:type="Null" name="blackhole" /> -->
	</targets>

	<rules>
		<!--All logs-->
		<logger name="*" minlevel="Debug" writeTo="allfile" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="InfoFile" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="ErrorFile" />
	</rules>
</nlog>